<li id="<%= entry.id %>">
  <span class="term"><%= entry.term %></span>
  <span class="lex_class"><%= entry.lex_class %></span>
  <span class="definition"><%= entry.definition %></span>
  <br>
  <b>Matches: </b><span class="match-list"><%= entry.hits %></span>
  <br>
  <%= link_to "delete", entry, method: :delete,
                               data: { confirm: "Are you sure?" },
                               title: entry.term,
                               class: "btn btn-primary btn-xs",
                               remote: true %>
  <%= link_to "edit", edit_definition_path(entry), 
                      class: "btn btn-primary btn-xs", remote: true %>
  <% if entry.text_id == nil %>
    <%= render 'shared/add_to_gloss', entry: entry %>
  <% else %>
    <%= render 'shared/add_to_dict', entry: entry %>
  <% end %>
</li>
