<li id=<%= "text_#{text.id}" %> class="text-click">
  <% if signed_in? %>
    <span class="glyphicon glyphicon-resize-vertical sorting-handle"></span>
    <%= render 'texts/released_form', text: text %>
    <span data-no-turbolink>
      <% if current_user.id == text.user_id %>
        <%= link_to "Edit", edit_text_path(text),
                            class: "btn btn-primary btn-edit" %>
      <% elsif current_user.admin? %>
        <%= link_to "Edit", edit_text_path(text),
                            class: "btn btn-info btn-edit" %>
      <% else %>
        <%= link_to "Edit", '#', 
                            class: "btn btn-primary btn-edit",
                            disabled: true %>
      <% end %>
    </span>
  <% else %>
    <%= link_to content_tag(:span, ""), text_path(text), class: "text-link" %>
  <% end %>
  <span class="author"><%= text.author %></span>
  <span class="title"><%= text.title %></span>
</li>
