<% provide(:title, 'New Text') %>
<h1>Create New Text</h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
    <%= form_for(@text) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.label :author %>
      <%= f.text_field :author, class: "form-control" %>

      <%= f.submit "Create a text", class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
