<% provide(:title, @text.title) %>

<div class="row">
  <div id="text-display">
    <%= @content %>
  </div>
</div>

<%= javascript_tag do %>
  setGlossary(<%= raw @matches.to_json %>, <%= raw @definitions.to_json %>,
                                           <%= raw @phrases.to_json %>);
  $(".media").empty();
<% end %>
