<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner" id="editing_header">
    <div class="container">
      <%= text_area_tag 'term_box', nil, size: "2x1" %>
      <%= text_area_tag 'lexical_box', nil, size: "2x1" %>
      <%= text_area_tag 'definition_box', nil, size: "2x1" %>
      <%= text_area_tag 'matches_box', nil, size: "2x1" %>
      <nav>
        <div class="btn-group span3">
          <button class="btn btn-primary" id="saveG_button">Save to Glossary</button>
          <button class="btn btn-primary" id="saveD_button">Save to Dictionary</button>
          <button class="btn btn-primary" id="del_button">Delete</button>
        </div>
        <div class="btn-group span3">
          <button class="btn btn-primary" id="prev_button">Prev</button>
          <button class="btn btn-primary" id="next_button">Next</button>
        </div>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  root_path  %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Help",  help_path  %></li>
      </nav>
    </div>
  </div>
</header>
