<ul class="nav navbar-nav navbar-right">
  <li>
    <%= link_to root_path do %>
      <%= content_tag(:span, "",class: "glyphicon glyphicon-book") %>
      Texts
    <% end %>
  </li>
  <li>
    <%= link_to about_path do %>
      <%= content_tag(:span, "",class: "glyphicon glyphicon-info-sign") %>
      About
    <% end %>
  </li>
  <li>
    <%= link_to help_path do %>
      <%= content_tag(:span, "", class: "glyphicon glyphicon-question-sign") %>
      Help
    <% end %>
  </li>
  <% if signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= content_tag(:span, "", class: "glyphicon glyphicon-pencil") %>
        Editor Menu
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <%= content_tag(:span, "", class: "glyphicon glyphicon-user") %>
            Update Profile
          <% end %>
        </li>
        <li>
          <%= link_to current_user do %>
            <%= content_tag(:span, "", class: "glyphicon glyphicon-bookmark") %>
            My Texts
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to users_path do %>
            <%= content_tag(:span, "", class: "glyphicon glyphicon-th-list") %>
            User List
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to signout_path, method: "delete" do %>
            <%= content_tag(:span, "", class: "glyphicon glyphicon-log-out") %>
            Sign out
          <% end %>
        </li>
      </ul>
    </li>
  <% end %>
</ul>
